@import "variables";

body {
    font-family: $font-style;
}

.header-link {
    color: $primary;

    &:hover{
        color: $hover-color;
        transition: $hover-transition;
    }
}

.header-button {
    color: $background;

    &:hover{
        color: $background;
        background-color: $primary;
        transition: $hover-transition;
    }
}